@model Gateway_Heindall.Models.IntegradordoUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IntegradordoUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioIDAgencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioIDAgencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegUserUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegUserUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegUserPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegUserPass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegUserPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegUserPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegUserPublicKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegUserPublicKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegUserPrivateKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegUserPrivateKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integrador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDadosConex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDadosConex.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar a tela anterior</a>
</div>
