@model IEnumerable<Gateway_Heindall.Models.IntegradordoUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn-success" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIDAgencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntegUserUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntegUserPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntegUserPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntegUserPublicKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntegUserPrivateKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Integrador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDadosConex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIDAgencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegUserUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegUserPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegUserPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegUserPublicKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntegUserPrivateKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Integrador.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDadosConex.Id)
            </td>
            <td>
                    <a class="btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn-warning" asp-action="Details" asp-route-id="@item.Id">Consultar</a>
                    <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
