@model Gateway_Heindall.Models.ConfigGeral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfigGeral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigNomeDoRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigNomeDoRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaCronJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaCronJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrazOsCancelados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrazOsCancelados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
