@{
    ViewData["Title"] = "Inicio";
}
<div class="container">
	<img src="~/img/HHiero.png" width="150" height="100" class="d-inline-block align-top" alt="logo">
</div>
<div class="text-center">
	<h1 class="display-5">Acesse ABOUT para ideia geral do projeto</h1>
	<br>
	<h4>Esta é a plataforma de importações dos Integradores Heindall</h4>
	<br>
	<br>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<button class="btn btn-primary w-100">Nova diretriz, 0% de interação do usuario. API executam a cada 3h</button>
		</div>
		<div class="col">
			<button class="btn" onclick="window.location.href='@Url.Action("Index", "Grupos")'">Grupos de Integradores</button>
			<button class="btn" onclick="window.location.href='@Url.Action("Index", "Integradores")'">Integradores Possiveis</button>
			<button class="btn" onclick="window.location.href='@Url.Action("Index", "UsersDadosConex")'">Dados do Usuario</button>
			<button class="btn" onclick="window.location.href='@Url.Action("Index", "IntegradoresdoUser")'">Integradores Do Usuarios</button>
			<button class="btn" onclick="window.location.href='@Url.Action("Index", "IntegradoresdoUser")'">Tabela de clientes com sus integradores login e senha</button>
			
		</div>
	</div>
</div>
<br>
<div>
	<footer class="footer">
		<div class="container">
			<img src="~/img/icones_embaixo.jpg" width="750" height="100" class="d-inline-block align-top" alt="logo">
		</div>
	</footer>
</div>