@model Gateway_Heindall.Models.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoMetodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoMetodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKey)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
