@model Gateway_Heindall.Models.UserDadosConex

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserDadosConex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserHostDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserHostDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserHostUserDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserHostUserDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSenhaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSenhaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPortDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPortDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBancoDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBancoDestino)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar a tela anterior</a>
</div>



<div>
    @*HELP : Tabelas : Esta tabela se relaciona com a Controller UserDadosConex*@
    <h4>Integradores com quem este Usuario faz conexão</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Grupo</th>
                <th>Nome do Integrador</th>
                <th>Rota de Conexão</th>
                <th>Porta de Conexão</th>
                <th>ID Agencia do Usuario</th>
                <th>Login do User neste Integrador</th>
                <th>Senha do User neste Integrador</th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var IntegradoresdoUser in Model.IntegradoresdoUser)
            {
                <tr>
                    <td>@IntegradoresdoUser.Integrador.IntegradorGrupo</td>
                    <td>@IntegradoresdoUser.Integrador.IntegradorNome</td>
                    <td>@IntegradoresdoUser.Integrador.IntegradorEndpoint</td>
                    <td>@IntegradoresdoUser.IntegUserPort</td>
                    <td>@IntegradoresdoUser.UsuarioIDAgencia</td>
                    <td>@IntegradoresdoUser.IntegUserUser</td>
                    <td>@IntegradoresdoUser.IntegUserPass</td>
                </tr>
            }
        </tbody>
    </table>
</div>

