@model IEnumerable<Gateway_Heindall.Models.UserDadosConex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserCNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserHostDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserHostUserDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSenhaDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPortDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBancoDestino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserHostDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserHostUserDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSenhaDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPortDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBancoDestino)
            </td>
            <td>
                    <a class="btn-info"asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn-warning" asp-action="Details" asp-route-id="@item.Id">Consultar</a>
                        <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
